main p {
    color:chocolate;
}
footer p {
    font-size: 20px;
}
nav a {
    text-decoration:none;
    border:2px solid black;
    border-radius:12px;
    margin:4px;
    padding:4px;
}
main img {
    border:10px solid darkslategrey;
    border-radius:15px;
}
h2 {
    color:chocolate;
}
